<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KSDownloadBtn.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1F83B2B91E5AD1A400136F6E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F83B2D21E5AD1A500136F6E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F83B2DD1E5AD1A500136F6E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
